<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}EVE Tools{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
    {% block nav %}
        <nav>
            <ul class="topLinks .navbar-fixed-top">
                <li><a href=" {{ path('home_page') }}">Home</a></li>
                <li><a href="{{ path('blueprint_calculator') }}">Blueprint Calculator</a></li>
                <li><a href="{{ path('ore_chart') }}">Ore Chart</a></li>
            </ul>
        </nav>
    {% endblock %}
    {% block body %}{% endblock %}
    </body>
</html>
