{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/oreChart/style.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/Datatables/DataTables/css/dataTables.bootstrap.css') }}">

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/OreChart/oreChart.js') }}"></script>
    <script src="{{ asset('vendor/Datatables/DataTables/js/jquery.dataTables.js') }}"></script>

{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Ore Chart</h1>
            </div>
        </div>
        <div id="form" class="panel">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Go <span class="fa fa-arrow-right"></span></button>
            {{ form_end(form) }}
        </div>
        <div id="ores" class="panel panel-default">
            <table id="min-table" class="table table-bordered">
                <thead>
                <tr>
                    <th>Ore | Minerals</th>
                    {% for mineral in minerals %}
                        <th class="mineral-header">
                            {{ mineral['name'] }}
                        </th>
                    {% endfor %}
                    <th>
                        Raw Isk/m3
                    </th>
                    <th>
                        Refined Isk/m3
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for ore in ores %}
                    <tr>
                        {% for value in ore %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

