{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/blueprintCalc/style.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/BlueprintCalc/calculator.js') }}"></script>
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Blueprint Calculator</h1>
            </div>
        </div>
        <div id="form_div">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Go <span class="fa fa-arrow-right"></span></button>
            <button type="button" class="btn btn-success copy-btn">Copy Paste <span class="fa fa-clipboard"></span></button>
            {{ form_end(form) }}
        </div>
        {% if results is iterable %}
            <div id="minerals" class="panel panel-default">
                <table id="'min-table" class="table table-bordered">
                    {% if results['minerals'] is iterable %}
                        <caption>Materials Table</caption>
                        <tr>
                            <th>Material Name</th>
                            <th>Quantity</th>
                            <th class="table-hide">Volume (m3)</th>
                        </tr>
                        {% for mineral in results['minerals'] %}
                            <tr>
                                <td class="text-col">
                                    {{ mineral['name'] }}
                                </td>
                                <td>
                                    {{ mineral['quantity'] }}
                                </td>
                                <td class="table-hide">
                                    {{ mineral['volume'] }}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td>Total Volume:</td>
                            <td>{{ totalVolumeMin }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div id="components" class="panel panel-default">
                <table id="comp-table" class="table table-bordered">
                    {% if results['components'] is iterable %}
                        <caption>Components Table</caption>
                        <tr>
                            <th>Component Name</th>
                            <th>Quantity</th>
                            <th class="table-hide">Volume (m3)</th>
                        </tr>
                        {% for component in results['components'] %}
                            <tr>
                                <td>{{ component['name'] }}</td>
                                <td>{{ component['quantity'] }}</td>
                                <td>{{ component['volume'] }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td>Total Volume:</td>
                            <td>{{ totalVolumeComp }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

