{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/blueprintCalc/style.css') }}">
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Blueprint Calculator</h1>
            </div>
        </div>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Go <span class="fa fa-arrow-right"></span></button>
            {{ form_end(form) }}
        </div>
        <div id="results">
            <div>
                <table class="'mats_table">
                    {% if results is iterable %}

                        <tr>
                            <th>Material Name</th>
                            <th>Quantity</th>
                        </tr>
                        {% for material in results %}
                            <tr>
                                <td>
                                    {{ material['name'] }}
                                </td>
                                <td>
                                    {{ material['quantity'] }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

